@import url("../../fonts/bebas/bebasneue.css");

.MainInfoBlock{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.headerInfo{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-top: 17px;
    margin-bottom: 17px;

    font-family: 'Bebas Neue';
}

.headerText{
    color: #24aea2;
    font-size: 27px;
}

.largeText{
    font-size: 27px;
}

.textWithImgContainer{
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.textBoxLeft, .textBoxRight{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.textBoxLeft{
    padding-left: 40px;
}

.ordinaryText{
    font-size: 20px;
}


.emetedText{
    color:#24aea2;
    font-weight: 600;
}

.gaysImageContainer{
    display: flex;
    justify-content: center;
}

.greenTextLine{
    background-color: #1ca6b2;
    display: flex;
    flex-direction: column;
    text-align: center;

    padding-bottom: 20px;
    padding-top: 20px;
}

.textInGreenTextLine{
    color: #ffffff;
}

/* 
.infoBlock2{
    background-image: url("../../img/mainPage/logoBig.png")
} */

.buttomJoin{
    border: 1px solid #1ca6b2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: #1ca6b2;
    width: 150px;
    height: 35px;

    margin: auto;
}

.buttomJoin:hover{
    cursor: pointer;
    background-color: #e4f1f2
}

.crowdContainer{
    display: flex;
    justify-content: center;
}

.freshVieveAndAkcent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.akcent, .freshVieve{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 15px;
}

.greyTextLine{
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    text-align: center;

    padding-bottom: 20px;
    padding-top: 20px;
}

.instructionLink{
    color: #24aea2;
    font-weight: 600;
}

.midlleText{
    font-size: 24px;
}

.instrutionStack{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.firstStep, .secondStep, .therdStep{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circleContainer{
    background-image: url('../../img/mainPage/circle.png');
    background-repeat: no-repeat;
    width: 110px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    color:white;
    margin-top: 20px;
}

.messegeRectangle{
    background-image: url('../../img/mainPage/messegeRectangle.png');
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 5px;
    margin-top: 27px;
    color:white;
}

.textInRectangle{
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
    text-align: center;
}

.chainInCircle{
    background-image: url('../../img/mainPage/chainInCircle.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin-top: 15px;
}

.zommGlase{
    background-image: url('../../img/mainPage/zoomGlass.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin-top: 15px;
}

.okInCercle{
    background-image: url('../../img/mainPage/okInCircle.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin-top: 15px;
}

.stepTextContainer{
    width: 250px;
}
.stepText{
    text-align: center;
    color: #c3c3c3;
    font-size: 25px;
}

.underIcon{
    background-image: url('../../img/mainPage/UnderIcon.png');
    background-repeat: no-repeat;
    width: 250px;
    height: 50px;
    margin-top: 7px;

}

.donatContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donatTable{
    margin-top:20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5vw;
    margin-bottom: 15px;
    grid-template-areas:    "el1 el2 el3"
                            "el4 el5 el6"
                            "el7 footer footer"
}

.donatTable>div{
    border: 1px solid grey;
    padding: 5px;
}

/* .donatTable>div:hover{
    cursor: pointer;
    background-color: #c3c3c3;
} */

.e1{
    grid-area: el1;
}

.e2{
    grid-area: el2;
}

.e3{
    grid-area: el3;
}

.e4{
    grid-area: el4;
}

.e5{
    grid-area: el5;
}

.e6{
    grid-area: el6;
}

.e7{
    grid-area: el7;
}

.e1:hover, .e2:hover, .e3:hover, .e4:hover, .e5:hover, .e6:hover, .e7:hover{
    cursor: pointer;
    background-color: #c3c3c3;

}


.specialSum{
    grid-area: footer;
}

.bottomContinue{
    border: 1px solid #1ca6b2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: #1ca6b2;
    width: 75px;
    height: 15px;
    margin: auto;
}

.bottomContinue:hover{
    cursor: pointer;
    background-color: #e4f1f2
}

.bottomTask{
    border: 1px solid #1ca6b2;
    background-color: #35b090;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: #ffffff;
    width: 150px;
    height: 15px;
    margin: auto;
    font-weight: 700;
}

.bottomTask:hover{
    background-color: #44d4ae;
    cursor: pointer;
}

.smartNavigation{
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; */
    display: grid;
    grid-column: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:    "point1 line1 point2 line2 point3"
                            "label1 empty1 label2 empty2 label3"
}

.done, .notDone{
    background-repeat: no-repeat;
    width: 37px;
    height: 37px;
     margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.done{
    background-image: url('../../img/mainPage/circleFillSmall.png');
}

.notDone{
    background-image: url('../../img/mainPage/circleNotFillSmall.png');
}

.line{
    background-repeat: repeat-x;
    background-image: url('../../img/mainPage/line.png');
    background-position: 10px;
    width: 100px;
    margin-left: 15px;
    margin-right: 15px;
}

.point1{
    grid-area: point1;
}

.point2{
    grid-area: point2;
}

.line1{
    grid-area: line1;
}

.line2{
    grid-area: line2;
}

.label1{
    grid-area: label1;
}

.label2{
    grid-area: label2;
}

.label3{
    grid-area: label3;
}