@import url("../../fonts/bebas/bebasneue.css");

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;

    padding: 15px;

    border: 1px solid #24aea2 
}

.deksArea{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.emetedText{
    color:#24aea2;
    font-weight: 600;
}

.midlleText{
    font-size: 20px;
}

.bebas{
    font-family: 'Bebas Neue';
}

.margVert{
    margin: 10px 0px;
}

.acciveButtom{
    border: 1px solid #1ca6b2;
    background-color: #35b090;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: #ffffff;
    width: 150px;
    height: 15px;
    margin: auto;
    font-weight: 700;
}

.acciveButtom:hover{
    cursor: pointer;
    background-color: #1aa17d;
}

.infoLine{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0;
}